<!--MY POST-->
             <div class="post-box">
                <!--Box title-->
                 <div class="post-title">
                     <h3>My post</h3>
                 </div>
                 <!--Box text content-->
                 <div class="post-content">
                     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, similique ipsa fuga error distinctio, maiores fugit, aut voluptatum reiciendis molestiae rem vero officia blanditiis amet accusantium molestias enim odit quibusdam quia. Pariatur, reiciendis similique. Eligendi delectus iusto aliquam cumque quos totam odit alias nisi vel. Ducimus, quia. Iste, dolorum nisi.</p>
                 </div>
               <!-- Box info-->
                 <div class="post-info">
                     <p> Posted by:
                         <span class="post-username"> Lucas </span>
                          on 
                         <span class="post-date">14/06/2022</span>
                     </p>
                     <button class="editBtn"><i class="fa-solid fa-pen-to-square"></i></button>
                 </div>
             </div>