 <!--Create post container-->
    <div id="create-post-container">
        <form class="create-post-form">
            <div class="post-title-box">
                <input type="text" id="create-post-title" name="create-post-title" value="Post Title"/>
            </div>

            <div class="post-content-form">
                <textarea class="post-text" id="post-text"  value="Post Title" name="post-text"></textarea>
            </div>

            <button type="submit" class="createPostBtn dashboard-btn">Create Post</button>

        </form>
    </div>

<script src="/javascript/newPost.js"></script>
