 <!--Create post container-->
    <div id="create-post-container">
        <form class="create-post-form">
            <h3> Title</h3>
            <div class="post-title-box">
                <input type="text" id="create-post-title" name="create-post-title"/>
            </div>

            <div class="post-content-form"> 
                <h3> Text</h3>
                <textarea class="post-text" id="post-text" name="post-text"></textarea>
            </div>

            <button type="submit" class="createPostBtn dashboard-btn">Create Post</button>

        </form>
    </div>

<script src="/javascript/newPost.js"></script>
