
 
 <!--Sign up Form-->
         <div id="form-container">
            <div class="form-title">
                <h2>Sign up</h2>
            </div>

            <div class="form-box">
                    <form class="signUp-box">
                        <div>
                            <input type="text" class="form-input" name="username" id="usernameSignUp" placeholder="Username">
                        </div>
                        <div>
                            <input type="password" class="form-input" id="passwordSignUp" name="password" placeholder="Password">
                        </div>
                         <div id="signUp-submit" >
                          <button id= "signUp" type="submit" class="submitBtn"> Sign Up</button>
                         </div>
                    </form>
                    
            </div>

            <div class="link">
                <p>Already have an account? <span><a href="/login">Login.</a></span></p>
            </div>
        </div>

 <script src="/javascript/signUp.js"></script>